@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('./assets/fonts/Pretendard-Light.woff2') format('woff2'), url('./assets/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('./assets/fonts/Pretendard-Bold.woff2') format('woff2'), url('./assets/fonts/Pretendard-Bold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  -webkit-user-drag: none;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(197, 196, 196);
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#skill,
#project,
#contact {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
